.navbar {
  display: inline;
}
header {
  text-align: center;
  font-weight: bold
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #dbe4f5;
  
}
.title {
color: blue;
font-weight: bold;
text-decoration: underline;
}
a:visited {
  color: yellow;
}
footer {
  font-style: italic;
  text-align: center;
}
